[Unit]
Description = Sensei Server Service

[Service]
ExecStart=/home/sensei/Documents/Senpi/scripts/load_server.sh
Restart=on-failure
User=sensei
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target 